.sec-2{
    text-align: right;
    font-size: 20px;
    text-shadow: 2px 2px 1px white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
.sec-3{
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: lowercase;
    text-decoration: none;
    text-shadow: 2px 2px 1px white;
}
.sec-4{
    text-align: left;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 2px 1px white;
}
.sec{
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRN_YLneDIMiLFQizeNOh3Y9bQs4a5nzAoD24ROXw-6zVQ7UZ-l);
    background-repeat: repeat-x;
}
.sec-6{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: chocolate;
    text-decoration: none;
}
.sec-1{
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    text-decoration: underline dotted;
}
.sec-5{
    color: cornflowerblue;
    font-size: 30px;
    text-align: center;
}
.sec-7{
    text-align: center;
}
.A{
    background-color: aquamarine;
    width: 1500px;
    height: 1300px;
}
.B{
    background-color: white;
    width: 400px;
    height: 350px;
    margin: 70px 600px;
}
.C{

    color: cornflowerblue;
    text-align: center;
    font-size: 30px;

}
.D{
    text-align: center;
}
.E{
    background-color: white;
    width: 400px;
    height: 350px;
    margin: 70px 600px;
}
.F{
    background-color: white;
    width: 400px;
    height: 350px;
    margin: 70px 600px;
}
.G{
    color: cornflowerblue;
    text-align: center;
    font-size: 30px;

}
.H{
    text-align: center;
}